<%- include('../inc/head'); %>
<%- include('../inc/nav'); %>

<header class="p-5 rounded bg-dark text-light mb-5">
	<div class="container">
		<h1 class="display-4">
			<%=title%>
		</h1>
	</div>
</header>


<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<%//- JSON.stringify(book).replace(/\\/g, '\\\\') %>
				<div class="col-md-auto">
					<a class="story-title" href="javascript:void(0)">
						<img alt="random user image" src="http://api.randomuser.me/portraits/thumb/women/74.jpg" style="width:100px;height:100px" class="rounded-circle mb-4">
					</a>
				</div>
				<div class="col-md offset-md-1">
					<h2 class="display-5">
						<%=book.title%> 
					</h2>
					<div class="row">
						<div class="col-xs-9">
							<span class="badge bg-dark h6">
									<%=book.author%>
								</span>
						</div>
						<div class="col-xs-3"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<%- include('../inc/foot'); %>